<!DOCTYPE html>
<html lang="en">
<head>
    <style type="text/css">@charset "UTF-8";
    [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak, .ng-hide:not(.ng-hide-animate) {
        display: none !important;
    }

    ng\:form {
        display: block;
    }

    .ng-animate-shim {
        visibility: hidden;
    }

    .ng-anchor {
        position: absolute;
    }</style>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="index.css">
    <title>Resmark Material Form Test</title>
    <script type="text/javascript" charset="UTF-8"
            src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script type="text/javascript" charset="UTF-8"
            src="https://d3eoclcmgyjg3v.cloudfront.net/js/async/2.3.0/dist/async.min.js"></script>
    <script type="text/javascript" charset="UTF-8" src="https://cdn.polyfill.io/v2/polyfill.min.js"></script>
    <script type="text/javascript" charset="UTF-8"
            src="https://d3eoclcmgyjg3v.cloudfront.net/js/momentjs/min/moment.min.js"></script>
    <script type="text/javascript" charset="UTF-8"
            src="https://d3eoclcmgyjg3v.cloudfront.net/js/jscache/minified/cache.js"></script>
    <script type="text/javascript" charset="UTF-8"
            src="https://d3eoclcmgyjg3v.cloudfront.net/js/crypto-js/3.1.9/minified/crypto-js.js"></script>
    <script type="text/javascript" charset="UTF-8"
            src="https://d3eoclcmgyjg3v.cloudfront.net/js/angular/1.5.10/angular.min.js"></script>
    <script type="text/javascript" charset="UTF-8"
            src="https://d3eoclcmgyjg3v.cloudfront.net/js/semantic-ui/2.2.10-modal-jump-fix/semantic.min.js"></script>
    <script type="text/javascript" charset="UTF-8"
            src="https://d3eoclcmgyjg3v.cloudfront.net/js/pluralize/5.1.0/minified/pluralize.js"></script>
    <script type="text/javascript" charset="UTF-8"
            src="https://d3eoclcmgyjg3v.cloudfront.net/js/jquery-cookie/minified/jquery.cookie.js"></script>
    <script type="text/javascript" charset="UTF-8"
            src="https://d3eoclcmgyjg3v.cloudfront.net/js/resmark/resmark-validation.min.js"></script>
    <script type="text/javascript" charset="UTF-8"
            src="https://d3eoclcmgyjg3v.cloudfront.net/js/moment-timezone/builds/moment-timezone-with-data-2010-2020.min.js"></script>
    <script type="text/javascript" charset="UTF-8"
            src="https://d3eoclcmgyjg3v.cloudfront.net/js/angular-sanitize/1.5.8/angular-sanitize.min.js"></script>
    <script type="text/javascript" charset="UTF-8"
            src="https://d3eoclcmgyjg3v.cloudfront.net/js/angular-resource/1.5.8/angular-resource.min.js"></script>
    <script type="text/javascript" charset="UTF-8"
            src="https://d3eoclcmgyjg3v.cloudfront.net/js/angular-credit-cards/3.1.6/release/angular-credit-cards.js"></script>
    <script type="text/javascript" charset="UTF-8"
            src="https://d3eoclcmgyjg3v.cloudfront.net/js/angular-ui-mask/dist/mask.min.js"></script>
    <script type="text/javascript" charset="UTF-8"
            src="https://d3eoclcmgyjg3v.cloudfront.net/js/angular-ui-router/0.2.15/release/angular-ui-router.min.js"></script>
    <script type="text/javascript" charset="UTF-8"
            src="http://localhost/js/widget/angular/resmark-widget.js?v=1617667397581"></script>
    <script type="text/javascript" charset="UTF-8"
            src="http://localhost/js/widget/angular/resmark-order-widget.js?v=1617667397581"></script>
</head>
<body class="dimmable">

<div id="container">
    <h1 style="font-family: Arial, Helvetica, sans-serif; text-align: center;">Material Form</h1>
    <rm-inquiry-form form-code="mBd10Sv6" entity-id="605119ef5fca4f0012e55689" class="ng-isolate-scope">
        <div class="ui rm one column stackable grid ng-scope">
            <div class="sixteen wide column remove-padding">
                <form class="ui rm form fields ng-pristine ng-valid-email ng-valid-rm-email ng-invalid ng-invalid-required ng-valid-maxlength ng-valid-mask"
                      name="inquiryForm" isolate-form="" ng-show="!formSubmitted"> <!-- ngIf: notOnline && !editMode -->
                    <div id="customerInformation"> <!-- ngRepeat: field in form.fields -->
                        <div ng-repeat="field in form.fields" field="field" person="inquiry" checkout-form="inquiryForm"
                             is-inquiry-form="true" class="field ng-scope ng-isolate-scope">
                            <div ng-switch="isFieldType">    <!-- ngSwitchWhen: isCheckbox -->
                                <!-- ngSwitchWhen: isCountry -->  <!-- ngSwitchWhen: isEmail -->
                                <!-- ngIf: $root.sessionUser && !isInquiryForm --><!-- end ngSwitchWhen: -->
                                <!-- ngSwitchWhen: isEmail --><!-- ngIf: !$root.sessionUser || isInquiryForm -->
                                <div ng-if="!$root.sessionUser || isInquiryForm" ng-switch-when="isEmail"
                                     class="field ng-scope"
                                     ng-class="{ error: checkoutForm[field.name].$touched &amp;&amp; checkoutForm[field.name].$invalid }">
                                    <!-- ngIf: showLabel --><label class="ui rm header ng-binding ng-scope"
                                                                   ng-if="showLabel"> Email
                                    <!-- ngIf: ((!participant && person._id) || (participant && person.personId)) && !newContactForm() -->
                                    <!-- ngIf: field.description --> </label><!-- end ngIf: showLabel --> <input
                                        id="email" type="email" name="email" placeholdertest="Email Address"
                                        ng-model="person.email" ng-required="isRequiredField"
                                        ng-change="setEmailChanged()" rm-validate-email="" ng-disabled="disabledField"
                                        autocomplete="new-password"
                                        class="ng-pristine ng-untouched ng-empty ng-valid-email ng-valid-rm-email ng-invalid ng-invalid-required"
                                        required="required">
                                    <!-- ngIf: checkoutForm[field.name].$touched && checkoutForm[field.name].$invalid -->
                                </div><!-- end ngIf: !$root.sessionUser || isInquiryForm --><!-- end ngSwitchWhen: -->
                                <!-- ngSwitchWhen: isEmail --><!-- ngIf: !disableSendEmail -->
                                <div ng-if="!disableSendEmail" ng-switch-when="isEmail" class="field ng-scope">
                                    <div class="ui rm checkbox"><input id="okToEmail" type="checkbox" name="okToEmail"
                                                                       ng-model="person.sendEmail"
                                                                       class="ng-pristine ng-untouched ng-valid ng-empty">
                                        <label for="okToEmail">Get tips and information by email</label></div>
                                </div><!-- end ngIf: !disableSendEmail --><!-- end ngSwitchWhen: -->
                                <!-- ngSwitchWhen: isGender -->  <!-- ngSwitchWhen: isList -->
                                <!-- ngSwitchWhen: isPhone -->  <!-- ngSwitchWhen: isText -->
                                <!-- ngSwitchWhen: isBirthDate -->   <!-- ngSwitchWhen: isTextAdditional -->
                                <!-- ngSwitchWhen: isTextArea -->  <!-- ngSwitchWhen: postalCode -->
                                <!-- ngSwitchWhen: isState --> </div>
                            <!-- ngIf: $root.sessionUser && !isInquiryForm && isParticipant && (field.name==='email' || field.name==='firstName' || field.name==='lastName') -->
                            <!-- ngIf: $root.sessionUser && !isInquiryForm && !isParticipant && (field.name==='email' || field.name==='firstName' || field.name==='lastName') -->
                            <!-- ngIf: !$root.sessionUser && !isInquiryForm && isParticipant && (field.name==='email' || field.name==='firstName' || field.name==='lastName') -->
                        </div><!-- end ngRepeat: field in form.fields -->
                        <div ng-repeat="field in form.fields" field="field" person="inquiry" checkout-form="inquiryForm"
                             is-inquiry-form="true" class="field ng-scope ng-isolate-scope">
                            <div ng-switch="isFieldType">    <!-- ngSwitchWhen: isCheckbox -->
                                <!-- ngSwitchWhen: isCountry -->  <!-- ngSwitchWhen: isEmail -->
                                <!-- ngSwitchWhen: isEmail --> <!-- ngSwitchWhen: isEmail -->
                                <!-- ngSwitchWhen: isGender -->  <!-- ngSwitchWhen: isList -->
                                <!-- ngSwitchWhen: isPhone -->  <!-- ngSwitchWhen: isText -->
                                <div ng-switch-when="isText"
                                     ng-class="{ error: checkoutForm[field.name].$touched &amp;&amp; checkoutForm[field.name].$invalid }"
                                     ng-init="maxlength = (field.name === 'firstName' || field.name === 'lastName') ? 24 : 500"
                                     class="field ng-scope"> <!-- ngIf: showLabel --><label
                                        class="ui rm header ng-binding ng-scope" ng-if="showLabel"> First Name
                                    <!-- ngIf: field.description --> </label><!-- end ngIf: showLabel --> <input
                                        type="text" name="firstName" placeholdertest="First Name"
                                        ng-model="person[field.name]" ng-change="setNameChanged()"
                                        ng-model-options="{updateOn: 'default blur', debounce: {default: 400, blur: 0} }"
                                        ng-required="isRequiredField" id="firstName" ng-disabled="disabledField"
                                        ng-maxlength="24" autocomplete="new-password"
                                        class="ng-pristine ng-untouched ng-empty ng-invalid ng-invalid-required ng-valid-maxlength"
                                        required="required">
                                    <!-- ngIf: checkoutForm[field.name].$touched && checkoutForm[field.name].$invalid && !checkoutForm[field.name].$error.maxlength -->
                                    <!-- ngIf: checkoutForm[field.name].$touched && checkoutForm[field.name].$invalid && checkoutForm[field.name].$error.maxlength -->
                                </div><!-- end ngSwitchWhen: -->  <!-- ngSwitchWhen: isBirthDate -->
                                <!-- ngSwitchWhen: isTextAdditional -->  <!-- ngSwitchWhen: isTextArea -->
                                <!-- ngSwitchWhen: postalCode -->  <!-- ngSwitchWhen: isState --> </div>
                            <!-- ngIf: $root.sessionUser && !isInquiryForm && isParticipant && (field.name==='email' || field.name==='firstName' || field.name==='lastName') -->
                            <!-- ngIf: $root.sessionUser && !isInquiryForm && !isParticipant && (field.name==='email' || field.name==='firstName' || field.name==='lastName') -->
                            <!-- ngIf: !$root.sessionUser && !isInquiryForm && isParticipant && (field.name==='email' || field.name==='firstName' || field.name==='lastName') -->
                        </div><!-- end ngRepeat: field in form.fields -->
                        <div ng-repeat="field in form.fields" field="field" person="inquiry" checkout-form="inquiryForm"
                             is-inquiry-form="true" class="field ng-scope ng-isolate-scope">
                            <div ng-switch="isFieldType">    <!-- ngSwitchWhen: isCheckbox -->
                                <!-- ngSwitchWhen: isCountry -->  <!-- ngSwitchWhen: isEmail -->
                                <!-- ngSwitchWhen: isEmail --> <!-- ngSwitchWhen: isEmail -->
                                <!-- ngSwitchWhen: isGender -->  <!-- ngSwitchWhen: isList -->
                                <!-- ngSwitchWhen: isPhone -->
                                <div ng-switch-when="isPhone" class="field ng-scope"> <!-- ngIf: showLabel --><label
                                        class="ui rm header ng-binding ng-scope" ng-if="showLabel"> Phone
                                    <!-- ngIf: field.description --> </label><!-- end ngIf: showLabel -->
                                    <!-- ngRepeat: phone in person.phoneList -->
                                    <div ng-repeat="phone in person.phoneList" id="ph0" class="fields ng-scope"
                                         ng-class="{ error: checkoutForm[field.name+$index].$touched &amp;&amp; checkoutForm[field.name+$index].$invalid }">
                                        <div class="field"><select name="phoneType0"
                                                                   class="ui rm dropdown ng-pristine ng-untouched ng-valid ng-not-empty"
                                                                   ng-model="phone.phoneType"
                                                                   ng-options="v as v for (k, v) in phoneTypes"
                                                                   id="2101">
                                            <option label="Toll-free" value="string:Toll-free">Toll-free</option>
                                            <option label="Local" value="string:Local">Local</option>
                                            <option label="Mobile" value="string:Mobile" selected="selected">Mobile
                                            </option>
                                            <option label="Home" value="string:Home">Home</option>
                                            <option label="Work" value="string:Work">Work</option>
                                            <option label="Other" value="string:Other">Other</option>
                                        </select></div>
                                        <div class="nine wide field phone-input-with-trash-icon"><input type="tel"
                                                                                                        name="phone0"
                                                                                                        class="phone-field ng-pristine ng-untouched ng-valid ng-empty ng-valid-required ng-valid-mask"
                                                                                                        ng-model="phone.phoneNumber"
                                                                                                        ui-mask="999-999-9?9?9?9?9?9?9?9?9?9?9"
                                                                                                        ui-mask-placeholder-char="space"
                                                                                                        clear-on-blur="false"
                                                                                                        form-phone="checkoutForm[field.name+$index]"
                                                                                                        ng-required="isRequiredField"
                                                                                                        autocomplete="new-password"
                                                                                                        placeholder="   -   -           ">
                                            <!-- ngIf: checkoutForm[field.name+$index].$touched && checkoutForm[field.name+$index].$error.required -->
                                            <!-- ngIf: checkoutForm[field.name+$index].$touched && checkoutForm[field.name+$index].$error.validNumber -->
                                        </div> <!-- ngIf: person.phoneList.length > 1 -->   </div>
                                    <!-- end ngRepeat: phone in person.phoneList --> <a class="link"
                                                                                        ng-click="addPhone()" id="2106"><i
                                            class="add circle rm icon"></i>Add Phone</a></div><!-- end ngSwitchWhen: -->
                                <!-- ngSwitchWhen: isText -->  <!-- ngSwitchWhen: isBirthDate -->
                                <!-- ngSwitchWhen: isTextAdditional -->  <!-- ngSwitchWhen: isTextArea -->
                                <!-- ngSwitchWhen: postalCode -->  <!-- ngSwitchWhen: isState --> </div>
                            <!-- ngIf: $root.sessionUser && !isInquiryForm && isParticipant && (field.name==='email' || field.name==='firstName' || field.name==='lastName') -->
                            <!-- ngIf: $root.sessionUser && !isInquiryForm && !isParticipant && (field.name==='email' || field.name==='firstName' || field.name==='lastName') -->
                            <!-- ngIf: !$root.sessionUser && !isInquiryForm && isParticipant && (field.name==='email' || field.name==='firstName' || field.name==='lastName') -->
                        </div><!-- end ngRepeat: field in form.fields --> <!-- ngRepeat: field in form.customFields -->
                        <!-- ngIf: form.materials.length > 1 && form.formType === 'material' -->
                        <!-- ngRepeat: material in form.materials track by $index -->
                        <!-- ngIf: form.materials.length > 1 && form.formType === 'material' -->
                        <!-- end ngRepeat: material in form.materials track by $index -->
                        <div class="field actions" style="overflow:hidden!important">
                            <div id="submit" class="ui rm button primary left" ng-click="submit()"
                                 ng-class="{'disabled': notOnline &amp;&amp; !editMode &amp;&amp; !inquirySelected, 'loading': formPending}">
                                Submit
                            </div> <!-- ngIf: isInModal --> </div>
                    </div>
                </form>
                <div id="thankYouMessage" class="ui rm message positive visible middle aligned ng-hide"
                     ng-show="formSubmitted"><p ng-bind-html="thankYouMessage" class="ng-binding"></p>
                    <!-- ngRepeat: material in submittedMaterials --> </div>
            </div>
        </div>
    </rm-inquiry-form>
</div>
<script async="" src="http://localhost/javascript/resmark-order.js?entityId=605119ef5fca4f0012e55689"></script>


<link type="text/css" rel="stylesheet" charset="UTF-8" href="http://localhost/css/publicWidget.css">
<div></div>
<div class="ui dimmer modals page">
    <div id="successNotificationsModal" rm-notifications-modal="" style="z-index:1005"
         class="ui rm small modal success message ng-isolate-scope">
        <div class="ui rm center aligned one column padded stackable grid">
            <div class="column"> <!-- ngRepeat: message in messages track by $index -->
                <div class="ui rm button primary small" ng-click="messages.length = 0" focus-on-show="" id="okButton">
                    Ok
                </div>
            </div>
        </div>
    </div>
    <div id="errorsNotificationsModal" rm-notifications-modal="" style="z-index:1005"
         class="ui rm small modal error message ng-isolate-scope">
        <div class="ui rm center aligned one column padded stackable grid">
            <div class="column"> <!-- ngRepeat: message in errors track by $index -->
                <div class="ui rm button primary small close" ng-click="errors.length = 0" focus-on-show=""
                     id="okButton2">Ok
                </div>
            </div>
        </div>
    </div>
    <div id="infoNotificationsModal" rm-notifications-modal="" style="z-index:1005"
         class="ui rm small modal info message ng-isolate-scope">
        <div class="ui rm center aligned one column padded stackable grid">
            <div class="column"> <!-- ngRepeat: message in info track by $index -->
                <div class="ui rm button primary small ng-binding" ng-click="info.length = 0;infoConfirmation()"
                     focus-on-show="" id="okButton3">Ok
                </div>
            </div>
        </div>
    </div>
    <div id="systemNotificationsModal" rm-notifications-modal="" style="z-index:1005"
         class="ui rm small modal warning message ng-isolate-scope">
        <div class="ui rm center aligned one column padded stackable grid">
            <div class="column"> <!-- ngRepeat: message in system track by $index -->
                <div class="ui rm button primary small" ng-click="refreshPage();system.length = 0" focus-on-show=""
                     id="refreshButton">Refresh!
                </div>
            </div>
        </div>
    </div>
    <div id="confirmationNotificationsModal" rm-notifications-modal="" style="z-index:1005"
         class="ui rm small modal warning message ng-isolate-scope">
        <div class="ui rm center aligned one column padded stackable grid">
            <div class="column"> <!-- ngRepeat: message in confirmations track by $index -->
                <div class="ui rm button primary small ng-binding" ng-class="{'margin-bottom': $root.isMobile()}"
                     ng-click="saveChanges();continueChanges=false;confirmations.length = 0" focus-on-show=""
                     id="saveButton">Save
                </div>
                <div class="ui rm button secondary small ng-binding"
                     ng-click="resetChanges();continueChanges=false;confirmations.length = 0" id="noButton">No
                </div> <!-- ngIf: continueChanges --> </div>
        </div>
    </div>
    <div id="warningNotificationsModal" rm-notifications-modal="" style="z-index:1005"
         class="ui rm small modal warning message ng-isolate-scope">
        <div class="ui rm center aligned one column padded stackable grid">
            <div class="column"> <!-- ngRepeat: message in warnings track by $index -->
                <div class="ui rm button primary small ng-binding" ng-click="warnings.length = 0;warningConfirmation()"
                     focus-on-show="" id="okButton4">Ok
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>